name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Install NASM
        run: sudo apt-get install -y nasm

      - name: Generate E2E test files
        run: ./gradlew --console=plain --no-daemon :core:generateEndToEndTestFiles

      - name: Build
        run: ./gradlew --console=plain --no-daemon build
